version: '3.9'

services:
  database:
    container_name: sqlite_db
    build:
      context: .
      dockerfile: docker/Dockerfile.sqlite
    volumes:
      - ./sqlite_data:/database
    networks:
      - app_network

  backend:
    container_name: flask_app
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - ./sqlite_data:/database
    depends_on:
      - database
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - app_network
    command: ["python", "app.py"]

  frontend:
    container_name: frontend_app
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    ports:
      - "8080:3000"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  sqlite_data:
